<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Hotel booking</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand nav-item">
                    @Html.ActionLink("Просмотр номеров", "RoomList", null, new { @class = "stretched-link", style = "color :  grey" })
                </span>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container-fluid text-center ">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-center" style="margin-top:100px">
                <div>
                    @if (TempData["message"] != null)
                    {
                        if (TempData["color"] == null)
                        {
                            <div class="alert alert-danger">@TempData["message"]</div>

                        }
                        else
                        {
                            <div class="alert alert-success">@TempData["message"]</div>
                        }
                    }
                </div>
 
            </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Date</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
